// Place all the styles related to the memos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  background: linear-gradient(to right,#e60000,#f39800,#fff100,#009944,#0068b7,#1d2088,#920783);
}

.memo-tuika {
  display: flex;
  justify-content: center;
  font-size: 20px;
  border: solid 1px #f39800
}

.memo-header{
  display: flex;
  justify-content: center;
}

.memo-name{
  display: flex;
  justify-content: center;
}

.memo-title{
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.sinki-memo {
  display: flex;
  justify-content: center;
}

.memo-nyuuryoku {
  display: flex;
  justify-content: center;
}

.sinki-memo {
  background-color: #b4dbc5;
  height: 60px;
}