<header class="header">
<h1 class="memo-header">メモ一覧</h1>
</header>
<table>
  <thead>
    <tr>
      <h1 class="memo-name">メモ名</h1>
    </tr>
  </thead>
  <tbody class="memo-title">
    <% @memos.each do |memo| %>
        <td><%= memo.title %></td>
        <td><%= link_to '編集', edit_memo_path(memo) %></td>
        <td><%= link_to '削除', memo_path(memo), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to '追加', new_memo_path %>