<div class="header2"></div>
<h1 class="sinki-memo">新規メモ</h1>
<%= form_for(@memo) do |f| %>
  <div class="memo-nyuuryoku">
  <div><%= f.text_field :title %>
  <div><%= f.submit "メモ投稿" %>
  <div><%= link_to '戻る', memos_path %>
  </div>
  </div>
  </div>
  </div>
<% end %>
